$primary_color: #e74c3c;
$alt_color: #2ecc71;
$white_color: #fff;
$gray_color:  #777777;
$black_color: #181818;
$border_color: #837c7c56;
$footer_color: #001c38;
$title_color :#1e3042;
$border_color:#cccccc;