.wp-news-thumb {
   height: auto;   
}
.fix {
    overflow: hidden;
}
.margin-tb {
    margin: 20px 0px;
}
.padding-tb {
    padding: 20px 0px;
}
.margin-bt{
	margin-bottom: 10px;
}
.padding-l-z{
  padding-left: 0;
}
.margin-auto {
    margin: auto;
}

.featured-img{
   position: relative;
}
 
.featured-post-title{
    margin:10px 0 5px 0;      
 }
 
 .featured-post-sm{
 	  padding:5px 0;
      border: 1px solid $border_color;
 }
 .featured-post-title-sm{
    margin:10px 0 5px 0; 
    font-size:15px;
 }
.post-title-inside-box{
	position: relative;

}
.post-title-inside-title{
	position: absolute;
	bottom: 15px;
	left: 15px;
}


/*  font size 
---------------------------------------------*/ 



/*  link-hover colors 
---------------------------------------------*/
.top-section-right{
   .post-title-inside-title{  
     color: $white_color;
     font-weight: bold;
   }
}

.post-title-inside-box{ 
     @include aw3_filter(brightness, 95%); 
}
.post-title-inside-box:hover{
     @include aw3_opacity(0.9);
     @include aw3_filter(saturate, 70%);   
     @include aw3_transition(0.7s);

   .post-title-inside-title{  
  }
}
.featured-img{
     @include aw3_filter(brightness, 95%); 
}
.featured-img:hover{
     @include aw3_opacity(0.9);
     @include aw3_filter(saturate, 70%);   
     @include aw3_transition(0.7s);
}

@media only screen and (min-width: 768px) and (max-width: 991px) { 
}
 

/*  responsive classes for mobile 
---------------------------------------------*/ 
@media only screen and (max-width: 767px) { 
   .mobile_1{
    padding-left: 15px!important;
    padding-right: 15px!important;  
    }
    .p-left_m{
      padding-left: 1rem!important;
    }
    .p-right_m{
      padding-right: 1rem!important;
    }
}







